.specialities-section {
  background-color: #111;
  color: white;
  padding: 80px 40px;
  font-family: 'Segoe UI', sans-serif;
}

.specialities-header {
  text-align: center;
  margin-bottom: 40px;
}

.specialities-top-text {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.specialities-heading {
  font-size: 38px;
  color: #f5be32;
  font-weight: bold;
  margin-bottom: 10px;
}

.specialities-subtext {
  font-size: 16px;
  color: #ccc;
}

.specialities-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

.filter-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  background-color: #f5be32;
  color: #000;
  border: none;
}

.filter-btn.active {
  background-color: #f5be32;
  color: #000;
  border: none;
}

.specialities-menu {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items:center;
}

.speciality-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0; /* Reduce gap here */
  gap: 40px; /* Adjust spacing between image and text */
}

.speciality-item.reverse {
  flex-direction: row-reverse;
}

.speciality-img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0px; /* No extra space */
}

.speciality-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 500px;
  color: white;
}

.speciality-text h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #f5be32;
}

.speciality-text p {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  color: #f5be32;
  margin-bottom: 10px; /* thoda space price aur button ke beech */
}

.order-btn {
  margin: 0;
  padding: 10px 20px;
  font-size: 10px;
  background-color: #f5be32;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-btn:hover {
  background-color: #f5be32;
}

